{% extends "index.html" %}

{% block contenido_interno %}
    <br/><h1>{% if id == 'cartelera' %} Cartelera {% else %} Próximos Estrenos {% endif %}</h1><br/>
    {% if peliculas %}
        {% for pelicula in peliculas %}
            <div class="contenido-pelicula">
                <img src="{{ url_for('static', filename='img/pelicula/' + pelicula['id'] + '.jpg') }}" width="160" height="226" alt="{{ pelicula['Titulo'] }}" onerror="this.src='path/to/default-image.jpg'"/>
                <div class="datos-pelicula">
                    <h2>{{ pelicula['Titulo'] }}</h2><br/>
                    <p>{{ pelicula['Sinopsis'] }}</p>
                    <br/>
                    <div class="boton-pelicula">
                        <a href="{{ url_for('peliculas', id=pelicula['id']) }}">
                            <img src="{{ url_for('static', filename='img/varios/btn-mas-info.jpg') }}" width="120" height="30" alt="Ver más info"/>
                        </a>
                    </div>
                    <div class="boton-pelicula">
                        <a href="https://www.youtube.com/watch?v={{ pelicula['Link'] }}" target="_blank">
                            <img src="{{ url_for('static', filename='img/varios/btn-trailer.jpg') }}" width="120" height="30" alt="Ver trailer"/>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No se encontraron películas.</p>
    {% endif %}
{% endblock contenido_interno %}
